<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DemoWeb2</display-name>
  <welcome-file-list>
  	<welcome-file>index1.jsp</welcome-file>
    <welcome-file>post.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>register.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LogoutControllerServlet</servlet-name>
    <servlet-class>com.hibernate.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutControllerServlet</servlet-name>
    <url-pattern>/logoutcontrollerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListNewFrontendServlet</servlet-name>
    <servlet-class>com.hibernate.controller.ListNewFrontendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListNewFrontendServlet</servlet-name>
    <url-pattern>/post.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SendEmailServlet</servlet-name>
    <servlet-class>com.hibernate.controller.SendEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmailServlet</servlet-name>
    <url-pattern>/sendemailservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UserControllerServlet</servlet-name>
    <servlet-class>com.hibernate.controller.UserControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserControllerServlet</servlet-name>
    <url-pattern>/usercontrollerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>add</servlet-name>
    <servlet-class>com.hibernate.controller.UserControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addnew</servlet-name>
    <servlet-class>com.hibernate.controller.NewControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addnew</servlet-name>
    <url-pattern>/addnew</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editnew</servlet-name>
    <servlet-class>com.hibernate.controller.NewControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editnew</servlet-name>
    <url-pattern>/editnew</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatenew</servlet-name>
    <servlet-class>com.hibernate.controller.NewControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatenew</servlet-name>
    <url-pattern>/updatenew</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewnew</servlet-name>
    <servlet-class>com.hibernate.controller.ViewNewControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewnew</servlet-name>
    <url-pattern>/viewnew</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletenew</servlet-name>
    <servlet-class>com.hibernate.controller.NewControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletenew</servlet-name>
    <url-pattern>/deletenew</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loadnew</servlet-name>
    <servlet-class>com.hibernate.controller.NewControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadnew</servlet-name>
    <url-pattern>/loadnew</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>edit</servlet-name>
    <servlet-class>com.hibernate.controller.UserControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update</servlet-name>
    <servlet-class>com.hibernate.controller.UserControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>com.hibernate.controller.UserControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginControllerServlet</servlet-name>
    <servlet-class>com.hibernate.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControllerServlet</servlet-name>
    <url-pattern>/logincontrollerservlet</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>postdetail</servlet-name>
    <servlet-class>com.hibernate.controller.PostDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postdetail</servlet-name>
    <url-pattern>/postdetail</url-pattern>
  </servlet-mapping>
  
  
  
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.hibernate.lib.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
</web-app>